prompts/*
scratch/*
venv/*
.venv-lock/*
data/*
logs/*
coverage_output/*
sbom/*
requirements.txt
**/__pycache__/*
integration-tests/**/Output/
.fuzz-fill-llvm-pr-worktrees/
*.lit_test_times.txt
*.sancov
*.egg-info/
*.pcy